.MyWallet {
    width: 600px;
    margin: 70px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
    align-items: center;
}

input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 16px;
    color: #000;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}

input.name {
    width: 200px;
    margin-right: 10px;
}

input.cost {
    width: 100px;
    margin-right: 10px;
}

.currency {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}

button.add {
    display: block;
    height: 30px;
    width: 100px;
    color: #000;
    font-weight: bold;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    font-size: 18px;
    background: none;
}

.content {
    border: 2px solid #000;
    padding: 0 10px 120px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 400px;
    position: relative;
}

.totalSpent {
    position: absolute;
    background: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid #000;
}

.totalSpent span {
    display: block;
}

.content ul li {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px dashed #000;
}

.content ul li span.name {
    width: 280px;
}

.content ul li span.price {
    width: 100px;
}

.content ul li span.category {
    width: 120px;
}

.content ul li button.delete {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}


select.select {
    width: 120px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    margin-right: 10px;
    font-size: 15px;
}

.Diagram {
    display: flex;
    flex-flow: nowrap row;
    height: 70px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 0;
}

.Diagram span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Diagram span.other,.Legend li span.icon.other {
    background: pink;
}
.Diagram span.entertainment,.Legend li span.icon.entertainment {
    background: red;
}
.Diagram span.car,.Legend li span.icon.car {
    background: blue;
}
.Diagram span.food,.Legend li span.icon.food {
    background: green;
}

.Legend li {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Legend li span.icon {
    width: 30px;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    display: block;
    margin-right: 30px;
}
